{% extends 'base.html' %} {% block title %}{{hotel}}{% endblock %} {% block
page_title %}{{hotel}}{% endblock %} {% block content %}
<div class="box_container">
  <div class="box">
    <a class="box_title" href="{{url_for('adicionar_quarto', hotel=hotel)}}"
      >Adicionar quarto</a
    >
  </div>
  {% for quarto in quartos %}
  <div class="box">
    <div class="box_title">Quarto {{ quarto }}</div>
    <a
      class="box_subtitle"
      href="{{url_for('excluir_quarto', hotel=hotel, quarto=quarto)}}"
      >Excluir</a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
