@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --bg: rgb(241, 241, 241);
  --fg: rgb(255, 255, 255);
  --accent: rgb(37, 37, 37);
}

body,
html,
:root {
  background: var(--bg);

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1500px;
  padding: 2rem 4rem;
}

.greetings {
  font-size: 18px;
  font-weight: 600;
}

.reserva {
  background: var(--fg);
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 4rem;
  padding: 0 4rem;

  justify-content: space-between;
}

.h_left {
  display: flex;
  align-items: center;
  gap: 1rem;

  height: 100%;
}

.consulta input {
  border: solid thin var(--accent);
  height: 45px;
  width: 400px;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

#header a,
button {
  color: white;
  font-size: 18px;
  font-weight: 700;

  text-decoration: none;

  background-color: var(--accent);
  padding: 1rem 1.5rem;

  border-radius: 5px;

  cursor: pointer;
  outline: none;
  border: none;
}

#header a:hover,
button:hover {
  opacity: 0.8;
}

.modal {
  border: solid rgb(109, 109, 109) thin;
  background-color: var(--fg);

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

  padding: 2rem 5rem;
}

.modal input {
  width: 400px;
  height: 45px;
  border: solid thin rgb(66, 66, 66);
  border-radius: 5px;

  padding: 0 10px;
  font-size: 15px;
  font-weight: 700;

  color: rgb(41, 41, 41);

  outline: none;
}

.modal input:focus {
  border: solid thin rgb(48, 48, 48);
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 17px;
  font-weight: 600;
}

#cr_action {
  font-size: 17px;
  font-weight: 600;
  background-color: var(--accent);
  width: 100%;

  height: 45px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;

  padding: 0 !important;
}

.reservas_container {
  gap: 2rem;
  margin: 4rem;
}

.reserva_card {
  background-color: var(--fg);

  border-radius: 10px;

  padding: 2rem 5rem;
  width: 800px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_header {
}

.reserva_campo {
  color: var(--accent);
}

.reserva_label {
  font-size: 20px;
  font-weight: 600;
}

.reserva_value {
  font-size: 18px;
  font-weight: 700;
}

.box_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  height: 250px;
  width: 250px;
  border-radius: 10px;
  background-color: var(--fg);
  padding: 1rem;
}

.box_title {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.box_title:hover {
  text-decoration: underline;
}

.box_subtitle {
  font-size: 16px;
  font-weight: 600;
}

.page_title {
  height: 4rem;
  font-size: 20px;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-left: 4rem;

  font-weight: 800;
}
